@import '../experience.css';
@import '../portfolio.css';

.home {
    margin: 0 6rem;
}

.hero {
    height: 80vh;
    min-height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-text {
    max-width: 32rem;
}

.text-container {
    h4 {
        margin: 1rem 0;
    }
}

.button-container {
    text-align: center;

    button {
        margin-top: 2rem;
    }
}

.hero-image {
    width: 30%;
    min-width: 14rem;

    img {
        border-radius: 59%;
        width: 100%;
    }
}

.underline {
    text-decoration: var(--underline);
    text-underline-offset: 2.5px;
}

.experience {
    text-align: center;
    margin: 3rem 0;
    
    button {
        margin-top: 1rem;
    }
}

.portfolio {
    text-align: center;
    margin: 3rem 0;

    h2 {
        margin-bottom: 1rem;
    }
}

@media (max-width: 64rem) {
    .home {
        margin: 0 4rem;
    }
}

@media (max-width: 42rem) {
    .home {
        margin: 0 2rem;
    }
    .hero {
        flex-direction: column-reverse;
    }    
}