.project-container {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    width: 20rem;
    padding: 1rem;
    border-top: solid 1px transparent;
    border-radius: 6px;
}

.project-thumbnail {
    object-fit: cover;
    width: 18rem;
    height: 10rem;
}

.project-text {
    width: 18rem;
    margin: 0 auto;

    p {
        text-align: justify;
    }
}

.project:hover {
    background-color: rgba(var(--white), 0.2);
    border-top: solid 1px rgba(var(--white), 0.2);
}